@import '../constants/colours/colours';
@import '../constants/boxLayout/border';

$buttonPadding: 10px 15px;

.button {
  display: inline-block;
  outline: none;
  border: $borderWidth solid $black;
  background-color: $white;
  padding: $buttonPadding;
  color: $black;

  &.focused,
  &:focus {
    border-color: $darkYellow;
  }

  &.selected {
    background-color: $lightYellow;
  }

  &.content-button {
    padding: 0;
  }

  &.transparent {
    border: 0;
    background-color: $transparent;
    padding: 0;

    &.focused,
    &:focus {
      border: 0;
    }

    &.selected {
      background-color: $transparent;
    }
  }
}

a {
  &.button {
    text-decoration: none;
  }
}
