// Colours
$white: #FFF;
$light: #97b3ce;
$lightBlue: #78829d;
$darkBlue: #2F364A;
$middleDark: #19202E;
$dark: #181E2C;
$lightDark: #1F2637;
$orange: #E76847;
$yellow: #FABF00;
$green: #52BEA6;
$blue: #15A4FA;
$purple: #7874CF;
$red: #E64C66;
$lightGrey: #EEF1F7;
$grey: #DADFEA;
$darkGrey: #444C63;

// RGBa
$inputBorder: rgba(140, 151, 178, 0.4);


// Sizes
