@import 'variables';


.main-footer {
  height: 45px;
  background-color: #181e2c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  
  .main-footer__settings, .main-footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 55px;
    height: 45px;
    
    img {
      width: 14px;
      height: 14px;
    }
  }
  
  .main-footer__info {
    background-color: #1f2637;
  }
  
  .main-footer__settings {
    background-color: #15a4fa;
  }
}
