// Colours
$white: #FFFFFF;
$light: #97B3CE;
$lightBlue: #78829D;
$darkBlue: #2F364A;
$middleDark: #19202E;
$dark: #181E2C;
$lightDark: #1F2637;
$orange: #E76847;
$yellow: #FABF00;
$green: #52BEA6;
$blue: #15A4FA;
$purple: #7874CF;
$red: #E64C66;
$lightGrey: #EEF1F7;
$softGrey: #DADFEA;
$grey: #CCD5E4;
$darkGrey: #444C63;
// RGBa
$inputBorder: rgba(140, 151, 178, .4);


// Sizes
$footerHeight: 45px;
$headerHeight: 42px;
$maxSideMenuWidth: 200px;
$iconWidth: 12px;
$iconHeight: $iconWidth;
$addButtonWidth: $iconWidth + 1px;
$addButtonHeight: $iconWidth + 1px;
$iconsMarginLeft: 20px;
// Fonts
$minSize: 12px;
$baseSize: 13px;

//Margin
$baseMarginLeft: 20px;
