@import './sideMenu';


.books-block {
  display: flex;
  flex: 1;
  flex-direction: column;

  .books-block__page-name {
    border-bottom: 1px solid #DADFEA;
    background-color: #EEF1F7;
    height: 70px;

    span {
      margin-left: 20px;
      line-height: 70px;
      color: #444C63;
      font-size: 22px;
    }
  }

  .books-block__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DADFEA;
    background-color: #EEF1F7;
    min-height: 49px;

    .filters {
      display: flex;
      flex-wrap: wrap;

      .filters__button {
        margin: 5px 10px;
        padding: 0 10px;
        line-height: 22px;
        font-size: 12px;

        &:hover {
          border-radius: 9.5px;
          background-color: #2F364A;
          cursor: pointer;
          padding: 0 10px;
          color: #FFFFFF;
        }

        &.filters__buttom-active {
          border-radius: 9.5px;
          background-color: #97B3CE;
          color: #FFFFFF;

          &:hover {
            background-color: #2F364A;
          }
        }
      }
    }

    .search {
      position: relative;
      flex: 1;
      margin: 5px 20px;
      padding-right: 20px;
      min-width: 130px;
      max-width: 400px;

      input {
        outline: none;
        border: solid 1px rgba(140, 151, 178, 0.4);
        border-radius: 16px;
        background-color: #FFFFFF;
        padding-left: 20px;
        width: 100%;
        height: 32px;
        color: #8C97B2;
        font-size: 13px;

        &:focus {
          border: solid 1px #15A4FA;
        }
      }

      img {
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }
  }

  .books-block__books_list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 7px 0 20px;
    font-size: 12px;

    .book-item {
      margin-bottom: 30px;
      margin-left: 20px;
      cursor: pointer;

      .book-item__title {
        margin-top: 15px;
        color: #444C63;
        font-size: 16px;
      }

      .book-item__author {
        margin-top: 5px;
        color: #6F7D95;
      }

      .book-item__rating {
        margin-top: 10px;
        width: 71px;
        height: 13px;
      }
    }
  }
}
