.side-menu {
    max-width: 200px;
    width: 200px;
    min-height: 100%;
    background-color: #181e2c;
    display: flex;
    flex-direction: column;
    
    .side-menu__item {
      margin-bottom: 5px;
      background-color: #1f2637;
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      align-content: center;
      flex-direction: column;
      align-items: flex-start;

      >:first-child {
        margin-top: 10px;
      }

      >:last-child {
        margin-bottom: 10px;
      }

      .side-menu__item-link {
        font-size: 13px;
        min-height: 38px;
        width: 100%;
        display: flex;
        align-items: center;

        img {
          width: 12px;
          height: 12px;
          margin-right: 12px;
          margin-left: 20px;
          vertical-align: middle;
        }

        &.side-menu__item-link-active {
          color: #fff;
          background-color: #15a4fa;
        }
      }
    }

    .vertical-scrolable {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  
    .side-menu__item1 {
      align-items: center;

      .side-menu__add-button {
        width: 160px;
        height: 44px;
        border-radius: 4px;
        background-color: #f2795a;
        color: #ffffff;
        margin: 35px 0;

        img {
          width: 13px;
          height: 13px;
          margin-right: 20px;
        }
      }
    }
  
    .side-menu__item3 {
      .link__circle {
        width: 6px;
        height: 6px;
        display: inline-block;
        margin-right: 12px;
        margin-left: 20px;
        border-radius: 6px;

        &.link__circle-1 {
          background-color: #e64c66;
        }

        &.link__circle-2 {
          background-color: #ffab00;
        }

        &.link__circle-3 {
          background-color: #00bfdd;
        }

        &.link__circle-4 {
          background-color: #7874cf;
        }
      }
    }
  
    .side-menu__item4 {
      flex: 1;
      margin-bottom: 0;

      > :first-child {
        margin-top: 40px;
      }

      .side-menu__item-link {
        height: auto;
        display: flex;
        align-items: baseline;
        margin-bottom: 40px;



        .link-text {
          max-width: 130px;
          font-size: 12px;
          line-height: 1.5;

          span {
            color: #97b3ce;
          }

          p {
            margin: 0;

            &.link-text__time {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

