.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #181E2C;
  width: 200px;
  max-width: 200px;
  min-height: 100%;

  .side-menu__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 5px;
    background-color: #1F2637;

    > :first-child {
      margin-top: 10px;
    }

    > :last-child {
      margin-bottom: 10px;
    }

    .side-menu__item-link {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 100%;
      min-height: 38px;
      font-size: 13px;

      img {
        margin-right: 12px;
        margin-left: 20px;
        width: 12px;
        height: 12px;
        vertical-align: middle;
      }

      &:hover {
        background-color: #97B3CE;
        color: #FFFFFF;
      }

      &.side-menu__item-link-active {
        background-color: #15A4FA;
        color: #FFFFFF;

        &:hover {
          background-color: #97B3CE;
        }
      }
    }

    &.side-menu__item1 {
      align-items: center;

      .side-menu__add-button {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 35px 0;
        border-radius: 4px;
        background-color: #F2795A;
        cursor: pointer;
        width: 85%;
        min-height: 44px;
        color: #FFFFFF;

        &:hover {
          background-color: #2F364A;
          color: #F2795A;
        }

        img, span {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        img {
          margin-right: 20px;
          width: 13px;
          height: 13px;
        }

        span {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    &.side-menu__item3 {
      .link__circle {
        display: inline-block;
        margin-right: 12px;
        margin-left: 20px;
        border-radius: 6px;
        width: 6px;
        height: 6px;

        &.link__circle-1 {
          background-color: #E64C66;
        }

        &.link__circle-2 {
          background-color: #FFAB00;
        }

        &.link__circle-3 {
          background-color: #00BFDD;
        }

        &.link__circle-4 {
          background-color: #7874CF;
        }
      }
    }

    &.side-menu__item4 {
      flex: 1;
      margin-bottom: 0;

      > :first-child {
        margin-top: 40px;
      }

      .history-item {
        display: flex;
        align-items: baseline;
        margin-bottom: 40px;
        cursor: pointer;
        width: 100%;
        height: auto;
        min-height: 38px;
        font-size: 13px;

        img {
          margin-right: 12px;
          margin-left: 20px;
          width: 12px;
          height: 12px;
          vertical-align: middle;
        }

        .history-item__text {
          max-width: 130px;
          line-height: 1.5;
          font-size: 12px;

          span {
            color: #97B3CE;
          }

          p {
            margin: 0;

            &.time {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .vertical-scrolable {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
