@import '../constants/constants';


.main-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  background-color: $dark;
  height: 45px;
  
  .main-footer__settings, .main-footer__info {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 45px;
    
    img {
      width: 14px;
      height: 14px;
    }
  }
  
  .main-footer__info {
    background-color: $lightDark;
  }
  
  .main-footer__settings {
    background-color: $blue;
  }
}
